<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
<booleanAttribute key="fine_grained_profiling" value="false"/>
<listAttribute key="models">
<listEntry value="isMetamodelFileBased=false&#10;name=xtext&#10;readOnLoad=true&#10;storeOnDisposal=true&#10;aliases=&#10;cached=true&#10;fileBasedMetamodelUri=platform\:/resource/analysis-grammaranalysis/resources/Ecore.ecore,platform\:/resource/analysis-grammaranalysis/resources/Xtext.ecore&#10;metamodelUri=http\://www.eclipse.org/2008/Xtext&#10;modelUri=platform\:/resource/ecss-framework-parent/data/analysis/grammar-resource/HeroLanguage.xmi&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;type=EMF&#10;modelFile=/ecss-framework-parent/data/analysis/grammar-resource/HeroLanguage.xmi&#10;expand=true&#10;metamodelFile=/analysis-grammaranalysis/resources/Ecore.ecore,/analysis-grammaranalysis/resources/Xtext.ecore"/>
<listEntry value="isMetamodelFileBased=false&#10;name=ecssl&#10;readOnLoad=true&#10;storeOnDisposal=true&#10;aliases=&#10;cached=true&#10;fileBasedMetamodelUri=&#10;metamodelUri=http\://patrickneubauer.github.io/ecss/ecssl&#10;modelUri=platform\:/resource/ecss-framework-parent/ecss-framework/language/uk.ac.york.cs.ecss.language/model/example/HeroLanguage.ecss&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;type=EMF&#10;modelFile=/ecss-framework-parent/ecss-framework/language/uk.ac.york.cs.ecss.language/model/example/HeroLanguage.ecss&#10;expand=true&#10;metamodelFile="/>
</listAttribute>
<listAttribute key="parameters"/>
<booleanAttribute key="profile_model_loading" value="false"/>
<booleanAttribute key="profiling_enabled" value="false"/>
<booleanAttribute key="reset_profiler" value="false"/>
<stringAttribute key="sourceModel" value="SOURCE"/>
<stringAttribute key="targetModel" value="TARGET"/>
<stringAttribute key="source" value="/ecss-framework-parent/ecss-framework/language/uk.ac.york.cs.ecss.language/etl/xtext2ecss.etl"/>
</launchConfiguration>
