.classpath
.settings/
**/target/
**/bin/
config/
*.xtendbin
**/.DS_Store
**/src-gen/
**/xtend-gen/
*._trace
*.iml
*.ipr
*.iws
generated/
ecss-framework/*/src/main/resources/log4j.xml

**/*-report\.txt

\.idea/

**/*.log

\.fseventsd/
